html *
{
   font-family: Helvetica;
	text-align: center;
}

h2 {
	margin-bottom: 40px;
}

#wrap {
	background-color: #F5F5F5;
}

.dl-horizontal > dd:after {
	display: table;
	content: "";
	clear: both;
}

/* generic input form */
.sq-form {
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
}

.sq-form select {
	height: 36px;
	padding: 7px 9px;
	margin-bottom: 15px;
	font-size: 16px;
}

.sq-form .sq-form-heading {
    margin-bottom: 10px;
}

button.btn-select {
	padding: 15px 20px;
	display: block;
	width: 100%;
	height: 100%;
	outline: none;
	border: 1px solid #e4e4e4;
	cursor: pointer;
	text-align: left;
	background: url(arrow_right_1x.png) right center no-repeat #f7f7f7;
	background-size: 21px 21px;
	background-position: 230px center;
	text-overflow: ellipsis;
}

.sq-form input[type="text"],
.sq-form input[type="password"],
.sq-form input[type="email"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
	width: 100%;
	text-align: center;
}

/* validation */

.error {
    color: red;
	margin-bottom: 10px;
}

.acc_req_form {
    width: 338px;
	position: relative;
}

.agreement {
	display: inline-block;		
}

.help-block {
	position: relative;
	top: 10px;
}

.confirmation-access-ok {
    display: none;	
}

/* */